/* Add Tailwind directives */
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-inter: "Inter", sans-serif;
}

@layer base {
  body {
    font-family: var(--font-inter);
  }
}

/* Ensure images cannot be dragged and text selection is standard */
img {
  -webkit-user-drag: none;
}
